:host {
  background-color: royalblue;
  height: 100%;
  width: 100%;
  position: relative;
  color: #fff;
  font-size: 4rem;
  text-align: center;
  button {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }
}
